.buy-message {
    white-space: initial !important;
    word-break: break-all;
}

.buy-message.lines {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    
}