.contact__title {
    color: #2e2e2e;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contact-form-wrap p {
    color: var(--dark-color);
    margin-bottom: 35px;
}
.contact-form-wrap .single-contact-form {
    margin: 0 0 35px;
}
.contact-form-wrap .single-contact-form.space-between {
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
    margin-right: -10px;
}
.contact-form-wrap .single-contact-form.space-between input {
    margin: 0 10px;
}
.contact-form-wrap .single-contact-form input {
    border: 1px solid #c1c1c1;
    border-radius: 0;
    height: 42px;
    outline: medium none;
    padding: 0 0px;
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.contact-form-wrap .single-contact-form textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 0;
    max-width: 100%;
    padding: 10px;
    height: 180px;
    padding: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    outline: none;
}
.contact-form-wrap .contact-btn button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid var(--dark-color);
    box-shadow: none;
    color: var(--dark-color);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.contact-form-wrap .contact-btn button:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}
.wn__address p {
    color: var(--dark-color);
    margin-bottom: 35px;
}
.wn__address .single__address {
    display: flex;
}
.wn__address .single__address svg {
    color: #353535;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.wn__address .single__address .content dt {
    color: #353535;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}
.wn__address .single__address .content dd {
    color: var(--dark-color);
    font-size: 12px;
    margin-bottom: 15px;
}
@media only screen and (max-width: 420px) {
    .contact-form-wrap .single-contact-form.space-between {
        flex-wrap: wrap;
    }
    .contact-form-wrap .single-contact-form.space-between input + input {
        margin-top: 30px;
    }
}
